<!DOCTYPE html>
<html lang="en" ng-app="AndroidXerox">
<head>
    <meta charset="utf-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="Nischay" content="">
    <title>Welcome To Staples</title>

    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="ax.css" rel="stylesheet">

    <!-- Angular JS-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular.js"></script>-->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular-route.js"></script>

</head>

<body>
    
    <!--header section-->
    <div class="container-fluid">
            <!--side bar div-->
            <div>
                <div ng-controller="HomeController" class="container">
                    <div >
                        <h2 class="color-blue">Search Here...!!</h2>

                        <input type="text" class="form-control" ng-model="skuNumber">
                        <button ng-click="search(skuNumber)" type="button" class="btn btn-lg btn-default">search</button>


                    </div>
                    {{skudata.productName}}
                </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="https://rawgithub.com/eligrey/FileSaver.js/master/FileSaver.js" type="text/javascript"></script>

    <script src="app.js"></script>
    <script src="config.js"></script>
    <script src="home.controller.js"> </script>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>